{{ attach_library('common_modules/forgot-password-page-js') }}
{% set form_path = path('<front>') ~ 'user/password' %}

<!-- Forgot Password Page Begin -->
<section class="tcm-page-form-container">
    <form 
        class="tcm-page-form js-tcm-page-form"
        id="user-pass"
        data-drupal-selector="user-pass" 
        action="{{ form_path }}" 
        method="post"  
        accept-charset="UTF-8"
    >
        <div class="tcm-page-form-heading">
            <h1 class="tcm-page-form-heading__title">{{ content.field_fp_title.0 }}</h1>
            <h2 class="tcm-page-form-heading__subtitle">{{ content.field_fp_subtitle.0 }}</h2>
        </div>

        <!-- Email -->
        <div class="tcm-page-form__input-row-wrapper">
            <div class="tcm-page-form__single-input-container">
                <label for="" class="tcm-page-form__input-label">
                    <input autocorrect="off"
                     autocapitalize="off"
                      spellcheck="false"
                       autofocus="autofocus"
                        autocomplete="username"
                         data-drupal-selector="edit-name"
                          aria-describedby="edit-name--description"
                           type="text"
                            id="edit-name"
                             name="name"
                              value=""
                               size="60"
                                maxlength="254"
                                 class="form-text required tcm-page-form__input js-tcm-page-form-input js-tcm-email-input"
                                  required="required"
                                   aria-required="true">
                </label>
                <p class="tcm-page-form__validation-error tcm-hidden">{{ content.field_fp_email_error.0 }}</p>
            </div>
        </div>
        <!-- Hidden fields -->
        <input autocomplete="off" data-drupal-selector="form-zala4kys3dgc2zvm3r0r4ptz-kblnajh-hqpxgzn-jw" type="hidden" name="form_build_id" value="form-Zala4kYS3dGC2ZvM3r0r4pTz-KBLnAjh_HQpXgzN_jw">
        <input data-drupal-selector="edit-user-pass" type="hidden" name="form_id" value="user_pass">

        <button class="tcm-page-form__submit-button js-tcm-page-form-submit-button" type="submit">{{ content.field_fp_submit_btn.0 }}</button>
    </form>
</section>
<!-- Forgot Password Page End -->
