{{ attach_library('spotme_events/main-styles') }}
{{ attach_library('spotme_events/main-js') }}

{% if event_registration_event_colour is empty %}
{% set theme_colour = '#51b0bf' %}
{% else %}
{% set theme_colour = event_registration_event_colour %}
{% endif %}

{% set module_path = _self|split('/templates') %}

{% set tag_icon = [
url('<front>')|render|slice(0, url('<front>')|render|length - 2)|trim('/', 'right'),
        module_path[0],
        'assets/images/tag-fill.svg'
        ]|join('/') %}

        <section class="all-events js-all-events" data-cardsOnPageCount="8">
            <div class="inner-wrapper">
                <div class="all-events__title">
                    <div class="text">
                        <h3>{{ title }}</h3>
                        {{ field_ep_subtitle|raw }}
                    </div>
                    <div class="all-events__filters">
                        <div class="select-container">
                            <div class="select-arrow"></div>
                            <select name="event-type" id="select-event-type" class="js-select-event-type">
                                <option value="all">{{ field_ep_lf_all_events }}</option>
                                <option value="future">{{ field_ep_lf_future_events }}</option>
                                <option value="past">{{ field_ep_lf_past_events }}</option>
                                <option value="live">{{ field_ep_lf_live_events }}</option>
                            </select>
                        </div>
                        <div class="select-container">
                            <div class="select-arrow"></div>
                            <select name="event-location" id="select-event-location" class="js-select-event-location">
                                <option value="all">{{ field_ep_lf_online_offline }}</option>
                                <option value="online">{{ field_ep_lf_online }}</option>
                                <option value="offline">{{ field_ep_lf_offline }}</option>

                            </select>
                        </div>
                        <div class="checkbox-container js-checkbox-container">
                            <div class="checkbox">
                                <div class="checkbox__inner"></div>
                            </div>
                            <p>{{ field_ep_lf_my_events }}</p>
                        </div>
                    </div>
                    <p class="all-events__events-found"><span class="event-text--bold js-events-found">0</span>
                        events found</p>
                </div>
                <div class="all-events__events-container">
                    {% if all_events %}
                    {% for event in all_events %}
                    {% if event.field_se_type.value == 'online' %}
                    {% set location_label = 'Online' %}
                    {% elseif event.field_se_type.value == 'offline' %}
                    {% set location_label = 'Offline' %}
                    {% else %}
                    {% set location_label = 'No data' %}
                    {% endif %}

                    {% set node_url = [
                    url('<front>')|render|trim('/', 'right'),
                        event.field_se_node_url
                        ]|join('/') %}

                        {% if event.event_type_time == 'past' %}
                        {% set disabled_class = 'disabled' %}
                        {% elseif event.field_se_button_functionality.value == 'link' %}
                        {% set disabled_class = '' %}
                        {% elseif event.field_se_is_registered == 'yes' and event.event_type_time == 'live' and
                        event.field_se_button_functionality.value == 'spotme' %}
                        {% set disabled_class = '' %}
                        {% elseif event.field_se_is_registered == 'yes' or event.event_type_time == 'live' %}
                        {% set disabled_class = 'disabled' %}
                        {% elseif event.field_se_disable_btn %}
                        {% set disabled_class = 'disabled' %}
                        {% else %}
                        {% set disabled_class = '' %}
                        {% endif %}

                        {# Label button #}
                        {% if event.field_se_button_functionality.value == 'link' %}
                        {% set btn_label = event.field_se_btn_label_register.value %}
                        {% elseif event.field_se_is_registered == 'yes' and event.event_type_time == 'live' and
                        event.field_se_button_functionality.value == 'spotme' %}
                        {% set btn_label = event.field_se_btn_label_join.value %}
                        {% elseif event.field_se_is_registered == 'yes' %}
                        {% set btn_label = event.field_se_btn_label_going.value %}
                        {% else %}
                        {% set btn_label = event.field_se_btn_label_register.value %}
                        {% endif %}

                        {# URL logic #}
                        {% if event.field_se_button_functionality.value == 'link' %}
                        {% set button_url = event.field_se_link_external.value %}
                        {% elseif event.field_se_is_registered == 'yes' and event.event_type_time == 'live' and
                        event.field_se_button_functionality.value == 'spotme' %}
                        {% set button_url = event.spotme_url_live %}
                        {% elseif event_registration_login_url is empty %}
                        {% set button_url = [
                        url('<front>')|render|trim('/', 'right'),
                            'user/login'
                            ]|join('/') %}
                            {% elseif event_registration_login_url is not empty %}
                            {% set button_url = [
                            url('<front>')|render|trim('/', 'right'),
                                event_registration_login_url
                                ]|join('/') %}
                                {% else %}
                                {% set button_url = [
                                url('<front>')|render|trim('/', 'right'),
                                    '#'
                                    ]|join('/') %}
                                    {% endif %}

                                    {% if event.field_se_is_registered == 'yes' and event.event_type_time == 'live' and
                                    event.field_se_button_functionality.value == 'spotme' %}
                                    {% set btnType = event.event_type_time %}
                                    {% else %}
                                    {% set btnType = event.field_se_button_functionality.value %}
                                    {% endif%}

                                    <article class="event-card with-description js-event-card"
                                        data-location="{{ event.field_se_type.value }}"
                                        data-type="{{event.event_type_time}}"
                                        data-isMyEvent="{{ event.crm_registered }}">
                                        <div class="event-card__banner">
                                            <a href="{{ node_url }}" class="image-link"
                                                style="background-image: url({{ file_url(event.field_se_banner_img.entity.uri.value) }}); "></a>
                                            <div
                                                class="event-banner-status event-banner-status--{{event.event_type_time}}">
                                                <p>{{event.event_type_time}} Event</p>
                                            </div>
                                            <div class="event-banner-location">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-wifi-2" viewBox="0 0 16 16">
                                                    <path
                                                        d="M13.229 8.271c.216-.216.194-.578-.063-.745A9.456 9.456 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.577 1.336c.205.132.48.108.652-.065zm-2.183 2.183c.226-.226.185-.605-.1-.75A6.473 6.473 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.408.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.611-.091l.015-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .708 0l.707-.707z" />
                                                </svg>
                                                <svg style="display: none" xmlns="http://www.w3.org/2000/svg" width="16"
                                                    height="16" fill="currentColor" class="bi bi-geo-alt-fill"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                                </svg>
                                                <p>{{ location_label }}</p>
                                            </div>
                                        </div>
                                        <div class="event-card__content">
                                            <div class="event-card__content__info">
                                                <div class="event-card__content__inner-wrapper">
                                                    <h5 class="event-card__content__title line-clamp"><a
                                                            href="{{ node_url }}" title="ADHD treatment optimisation for children and young
                                        people">{{ event.title.value }}</a></h5>
                                                    <div class="event-card__content__description">
                                                        <p>{{ event.field_se_teaser_description.value|raw }}</p>
                                                    </div>
                                                    <a class="event-card__content__read-more" href="{{ node_url }}">
                                                        {{ event.field_se_label_read_more.value }}</a>

                                                    {% if event.field_se_tag_names is not empty %}
                                                    <p class="event-card-content__tags line-clamp line-clamp--2"
                                                        title="Child andAdolescent Lifespan Online events"> <img
                                                            src="{{ tag_icon }}" alt="">
                                                        {{ event.field_se_tag_names }}
                                                    </p>
                                                    {% endif %}

                                                    <div class="icon-with-text">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                            viewBox="0 0 20 20" fill="none">
                                                            <path
                                                                d="M4.46401 2.14284C3.84833 2.14284 3.25786 2.38742 2.82251 2.82277C2.38716 3.25812 2.14258 3.84859 2.14258 4.46427V15.5357C2.14258 16.1514 2.38716 16.7418 2.82251 17.1772C3.25786 17.6125 3.84833 17.8571 4.46401 17.8571H15.5354C16.1511 17.8571 16.7416 17.6125 17.1769 17.1772C17.6123 16.7418 17.8569 16.1514 17.8569 15.5357V4.46427C17.8569 3.84859 17.6123 3.25812 17.1769 2.82277C16.7416 2.38742 16.1511 2.14284 15.5354 2.14284H4.46401ZM3.21401 6.78784H16.7854V15.5357C16.7854 15.8672 16.6537 16.1852 16.4193 16.4196C16.1849 16.654 15.867 16.7857 15.5354 16.7857H4.46401C4.13249 16.7857 3.81454 16.654 3.58012 16.4196C3.3457 16.1852 3.21401 15.8672 3.21401 15.5357V6.78784ZM13.7504 12.5007C13.5136 12.5007 13.2865 12.5948 13.1191 12.7622C12.9516 12.9297 12.8576 13.1568 12.8576 13.3936C12.8576 13.6304 12.9516 13.8575 13.1191 14.0249C13.2865 14.1923 13.5136 14.2864 13.7504 14.2864C13.9872 14.2864 14.2143 14.1923 14.3818 14.0249C14.5492 13.8575 14.6433 13.6304 14.6433 13.3936C14.6433 13.1568 14.5492 12.9297 14.3818 12.7622C14.2143 12.5948 13.9872 12.5007 13.7504 12.5007ZM9.99758 12.5007C9.76078 12.5007 9.53368 12.5948 9.36623 12.7622C9.19879 12.9297 9.10472 13.1568 9.10472 13.3936C9.10472 13.6304 9.19879 13.8575 9.36623 14.0249C9.53368 14.1923 9.76078 14.2864 9.99758 14.2864C10.2344 14.2864 10.4615 14.1923 10.6289 14.0249C10.7964 13.8575 10.8904 13.6304 10.8904 13.3936C10.8904 13.1568 10.7964 12.9297 10.6289 12.7622C10.4615 12.5948 10.2344 12.5007 9.99758 12.5007ZM13.7504 8.92927C13.5136 8.92927 13.2865 9.02334 13.1191 9.19078C12.9516 9.35823 12.8576 9.58533 12.8576 9.82213C12.8576 10.0589 12.9516 10.286 13.1191 10.4535C13.2865 10.6209 13.5136 10.715 13.7504 10.715C13.9872 10.715 14.2143 10.6209 14.3818 10.4535C14.5492 10.286 14.6433 10.0589 14.6433 9.82213C14.6433 9.58533 14.5492 9.35823 14.3818 9.19078C14.2143 9.02334 13.9872 8.92927 13.7504 8.92927ZM9.99758 8.92927C9.76078 8.92927 9.53368 9.02334 9.36623 9.19078C9.19879 9.35823 9.10472 9.58533 9.10472 9.82213C9.10472 10.0589 9.19879 10.286 9.36623 10.4535C9.53368 10.6209 9.76078 10.715 9.99758 10.715C10.2344 10.715 10.4615 10.6209 10.6289 10.4535C10.7964 10.286 10.8904 10.0589 10.8904 9.82213C10.8904 9.58533 10.7964 9.35823 10.6289 9.19078C10.4615 9.02334 10.2344 8.92927 9.99758 8.92927ZM6.24401 8.92927C6.00721 8.92927 5.7801 9.02334 5.61266 9.19078C5.44522 9.35823 5.35115 9.58533 5.35115 9.82213C5.35115 10.0589 5.44522 10.286 5.61266 10.4535C5.7801 10.6209 6.00721 10.715 6.24401 10.715C6.48081 10.715 6.70791 10.6209 6.87535 10.4535C7.0428 10.286 7.13686 10.0589 7.13686 9.82213C7.13686 9.58533 7.0428 9.35823 6.87535 9.19078C6.70791 9.02334 6.48081 8.92927 6.24401 8.92927ZM4.46401 3.21427H15.5354C16.2254 3.21427 16.7854 3.77427 16.7854 4.46427V5.71641H3.21401V4.46427C3.21401 3.77427 3.77401 3.21427 4.46401 3.21427Z"
                                                                fill="#BD120A" />
                                                        </svg>

                                                        {{ event.field_se_start_time_shown }}
                                                    </div>

                                                    <div class="icon-with-text">
                                                        <p class="icon--closing-date"><span><svg
                                                                xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class="bi bi-stopwatch"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z" />
                                                                <path
                                                                    d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z" />
                                                            </svg></span>{{ event.field_se_label_closing_date.value }} : </p>
                                                        <p class="closing-in">{{ event.field_se_label_reg_close.value }}
                                                            <span class="event-text--bold">{{
                                                                event.field_se_days_remaining_register }}
                                                            </span>
                                                        </p>
                                                    </div>

                                                    <div
                                                        class="event-card__content__cta-btn js-ctaBtn-wrapper {{ disabled_class }}">
                                                        {% if logged_in %}
                                                        <a class="js-register"
                                                            data-eventId="{{ event.field_se_event_id.value }}"
                                                            data-btnRegisteredText="{{ event.field_se_btn_label_going.value }}"
                                                            data-btnType="{{ btnType }}" href="{{ button_url }}"
                                                            target="_blank" rel="noopener noreferrer">{{ btn_label
                                                            }}</a>
                                                        {% else %}
                                                        <a class="js-register"
                                                            data-eventId="{{ event.field_se_event_id.value }}"
                                                            data-btnRegisteredText="{{ event.field_se_btn_label_going.value }}"
                                                            data-btnType="guestUser" href="{{ button_url }}"
                                                            target="_blank" rel="noopener noreferrer">{{ btn_label
                                                            }}</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    {% endfor %}
                                    {% endif %}
                </div>
            </div>
            <div class="pages-control">

                <div class="page-btn">
                    <a class="js-page-btn" data-type="prev" data-registration-type="internal"> <svg
                            xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M11.666 6L5.83268 11L11.666 16L11.666 6Z" fill="#34373F" />
                        </svg> {{ field_ep_lb_previous }}</a>
                </div>
                <p class='current-page'><span class=" js-current-page event-text--bold">1</span> of <span
                        class="js-total-pages event-text--bold">1</span></p>

                <div class="page-btn">
                    <a class="js-page-btn" data-type="next" data-registration-type="internal">{{ field_ep_lb_next }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M8.33398 16L14.1673 11L8.33398 6L8.33398 16Z" fill="#34373F" />
                        </svg></a>
                </div>
            </div>
        </section>