{{ attach_library('common_modules/reset-password-page-js') }}
{% set front_path = [ url('<front>')|render|trim('/', 'right'), active_theme_path(),]|join('/') %}

<!-- Reset Password Section Begin-->
<section class="tcm-page-form-container">
    <form action="" class="tcm-page-form js-tcm-page-form">
        <div class="tcm-page-form-heading">
            <h1 class="tcm-page-form-heading__title">{{ content.field_rpp_title.0 }}</h1>
            <h2 class="tcm-page-form-heading__subtitle">{{ content.field_rpp_subtitle.0 }}</h2>
        </div>

        <!-- Password -->
        <div class="tcm-page-form__input-row-wrapper">
            <div class="tcm-page-form__single-input-container">
                <label for="" class="tcm-page-form__input-label">
                    <input
                        class="tcm-page-form__input tcm-page-form__input--password js-tcm-page-form-input js-tcm-password-input"
                        type="password">
                    <span class="tcm-page-form__input-placeholder">{{ content.field_rpp_password_placeholder.0 }}</span>
                    <div class="tcm-page-form__toggle-password-btn js-toggle-password-btn">
                        <img src="{{ front_path }}/assets/icons/small/closed-eye-icon.svg" class="eye-closed" alt="eye icon">
                        <img src="{{ front_path }}/assets/icons/small/eye-icon.svg" class="eye-open" alt="eye icon">
                    </div>
                </label>
                <p class="tcm-page-form__validation-error tcm-hidden">{{ content.field_rpp_password_error_message.0 }}</p>
            </div>
        </div>

        <!-- Confirm Password -->
        <div class="tcm-page-form__input-row-wrapper">
            <div class="tcm-page-form__single-input-container">
                <label for="" class="tcm-page-form__input-label">
                    <input
                        class="tcm-page-form__input tcm-page-form__input--password js-tcm-page-form-input js-tcm-confirm-password-input"
                        type="password">
                    <span class="tcm-page-form__input-placeholder">{{ content.field_rpp_confirm_password.0 }}</span>
                    <div class="tcm-page-form__toggle-password-btn js-toggle-password-btn">
                        <img src="{{ front_path }}/assets/icons/small/closed-eye-icon.svg" class="eye-closed" alt="eye icon">
                        <img src="{{ front_path }}/assets/icons/small/eye-icon.svg" class="eye-open" alt="eye icon">
                    </div>
                </label>
                <p class="tcm-page-form__validation-error tcm-hidden">{{ content.field_rpp_confirm_password_error.0 }}</p>
            </div>
        </div>

        <button class="tcm-page-form__submit-button js-tcm-page-form-submit-button" type="submit">{{ content.field_rpp_submit_button.0 }}</button>
    </form>
</section>
<!-- Reset Password Section End-->