{% set front_path = [ url('<front>')|render|trim('/', 'right'), active_theme_path(),]|join('/') %}

<!-- Header Begin -->
<header class="tcm-header js-tcm-header">
    <!-- Desktop Header -->
    <div class="tcm-header__content-container tcm-header__content-container--desktop">
        <div class="tcm-header__left-side">
            <a class="tcm-header__logo" href="{{ url('<front>') }}">
                <img src="{{front_path}}/assets/icons/site-logo.svg" alt="site logo">
            </a>
            <nav class="tcm-header__navigation">
                <ul class="tcm-header__navigation-list">
                    {% for menu_info in main_navigation %}
                    {% if menu_info[3] is defined %}
                    <li class="tcm-header__navigation-list-item">
                        <div class="tcm-header__open-menu-button js-open-bottom-menu"
                            data-bottom_section_type="{{ menu_info[0]|lower }}">{{ menu_info[0] }}</div>
                    </li>
                    {% else %}
                    <li class="tcm-header__navigation-list-item">
                        <a href="{{ menu_info[1] }}">{{ menu_info[0] }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <div class="tcm-header__right-side">
            <nav class="tcm-header__navigation tcm-header__navigation--user ">
                {% if logged_in %}
                    <ul class="tcm-header__navigation-list">
                        <li class="tcm-header__navigation-list-item">
                            <p>Hello, {{ current_username }}</p>
                        </li>
                        <li class="tcm-header__navigation-list-item">
                            <a href="{{ url('<front>') }}/user/logout">Logout</a>
                        </li>
                    </ul>
                    <ul class="tcm-header__navigation-list tcm-hidden">
                        <li class="tcm-header__navigation-list-item"><a href="{{ url('<front>') }}login">Login</a></li>
                            <li class="tcm-header__navigation-list-item"><a href="{{ url('<front>') }}register">Register</a></li>
                    </ul>
                {% else %}
                    <ul class="tcm-header__navigation-list tcm-hidden">
                        <li class="tcm-header__navigation-list-item">
                            <p>Hello, {{ current_username }}</p>
                        </li>
                        <li class="tcm-header__navigation-list-item">
                            <a href="{{ url('<front>') }}/user/logout">Logout</a>
                        </li>
                    </ul>
                    <ul class="tcm-header__navigation-list">
                        <li class="tcm-header__navigation-list-item"><a href="{{ url('<front>') }}login">Login</a></li>
                        <li class="tcm-header__navigation-list-item"><a href="{{ url('<front>') }}register">Register</a></li>
                    </ul>
                {% endif %}
            </nav>
        </div>
    </div>

    <!-- Bottom Sections -->
    {% for menu_info in main_navigation %}
    {% if menu_info[3] is defined %}
    <div
        class="tcm-header__bottom-container js-header-bottom-section js-header-bottom-{{ menu_info[0]|lower }} tcm-hidden">
        <div class="tcm-content-wrapper tcm-header__content-container tcm-header__content-container--bottom">
            <h3 class="tcm-header__bottom-section-title">{{ menu_info[0] }}</h3>
            <nav class="tcm-header__bottom-navigation">
                <ul class="tcm-header__bottom-nav-list">
                    {% for sub_menu in menu_info[3] %}
                    <li class="tcm-header__bottom-nav-item">
                        <a href="{{ sub_menu[1] }}">{{ sub_menu[0]}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    <!-- Mobile Header -->
    <div class="tcm-content-wrapper tcm-header__content-container tcm-header__content-container--mobile">
        <a href="#" class="tcm-header__logo tcm-header__logo--mobile"> <img
                src="{{front_path}}/assets//icons/site-logo.svg" alt="site logo"></a>
        <div class="tcm-header__mobile-header-right-container">
            <!-- Tablet Search -->
            <div class="tcm-header__search tcm-header__search--tablet">
                <form  class="tcm-header__search-form" id="search-block-form" action="{{ url('<front>') }}/search/node" method="get"  accept-charset="UTF-8" >
                    <button class="tcm-header__search-submit-button" type="submit">
                        <img src="{{front_path}}/assets//icons/small/search-red-icon.svg" alt="search icon">
                    </button>
                    <input 
                        class="tcm-header__search-input js-header-search-input"  
                        id="edit-keys" 
                        data-drupal-selector="edit-keys" 
                        type="search" 
                        name="keys" 
                        value="" 
                        size="30" 
                        maxlength="255" 
                        placeholder="Search...">
                </form>
            </div>

            <!-- Phone Search Button -->
            <button class="tcm-header__phone-search-button js-phone-search-button">
                <img src="{{front_path}}/assets//icons/small/search-red-icon.svg" alt="search icon">
            </button>

            <!-- USER MENU -->
            {% if logged_in %}
                <div class="tcm-header__mobile-user-menu js-mobile-user-menu-el">
                    <div class="tcm-header__mobile-user-icon js-mobile-user-menu-btn">
                        <img src="{{front_path}}/assets//icons/small/user-red-icon-loggedin.svg" alt="">
                    </div>
                    <div class="tcm-header__mobile-user-dropdown">
                        <ul>
                            <li><a href="{{ url('<front>') }}/user/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="tcm-header__mobile-user-menu js-mobile-user-menu-el">
                    <div class="tcm-header__mobile-user-icon js-mobile-user-menu-btn">
                        <img src="{{front_path}}/assets//icons/small/user-red-icon.svg" alt="">
                    </div>
                    <div class="tcm-header__mobile-user-dropdown tcm-header__mobile-user-dropdown--guest">
                        <ul>
                            <li class="tcm-header__navigation-list-item"><a href="{{ url('<front>') }}login">Login</a></li>
                            <li class="tcm-header__navigation-list-item"><a href="{{ url('<front>') }}register">Register</a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}
            <!-- Menu button -->
            <button class="tcm-header__mobile-menu-button js-open-mobile-menu-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                </svg>
            </button>
        </div>
    </div>
    <!-- Mobile Search Form -->
    <div class="tcm-header__phone-search-form-container js-phone-search-container tcm-hidden">
        <form  class="tcm-header__phone-search-form" id="search-block-form" action="{{ url('<front>') }}/search/node" method="get"  accept-charset="UTF-8">
            <button type="submit">
                <img src="{{front_path}}/assets//icons/small/search-red-icon.svg" alt="search icon">
            </button>
            <input
                class="form-search"  
                id="edit-keys" 
                data-drupal-selector="edit-keys" 
                type="search" 
                name="keys" 
                value="" 
                size="30" 
                maxlength="255" 
                placeholder="Search..."
            >
        </form>
    </div>
</header>
<!-- Header End-->